@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap');
:root{
    --main-ff: 'Public Sans', sans-serif;
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
}
body, button{
    font-family: var(--main-ff);
}
header{
    width: 100%;
    height: 100%;
}
h1{
    font-size: 3rem;
    font-weight: 300;
    width: 75%;
}
h2{
    font-size: 2.25rem;
    font-weight: 300;
}
h4{
    font-size: 1.45rem;
    font-weight: 400;
    margin: 1rem 0;
}
h6{
    font-weight: 500;
    font-size: 16px;
}
p{
    color: var(--Grayish-Blue);
}
a{
    text-decoration: none;
    cursor: pointer;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
    height: auto;
}
nav{
    background-color: var(--White);
    position: relative;
    z-index: 1;
}
header{
    background-color: var(--Very-Light-Gray);
    overflow: hidden;
}
footer{
    background-color: var(--Dark-Blue);
}
button{
    padding: .75rem 1.75rem;
    border-radius: 1.75rem;
    border: none;
    font-size: .913rem;
    color: var(--White);
    cursor: pointer;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

/**** --- REUSABLE CODE---- *****/
.container{
    margin-left: 8rem;
    margin-right: 8rem;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 1.5rem;
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*NAV SECTION*/
.nav_cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
}
.nav_list{
    display: flex;
    column-gap: 1.25rem;
    color: var(--Dark-Blue);
}
.nav_list a{
    color: var(--Grayish-Blue);
}

/**** ---- HERO SECTION ---- ****/
.hero_cont{
    display: flex;
}
.hero_display,
.hero_content{
    flex: 1;
}
.hero_content{
    margin-top: 10rem;
    margin-bottom: 5rem;
}
.hero_content p{
    width: 80%;
    color: var(--Grayish-Blue);
    line-height: 1.5;
}
.hero_display{
    background-image: url("../images/bg-intro-desktop.svg");
    background-position: 20% 60%;   
    background-repeat: no-repeat;
    background-size: cover;
}
.hero_img{
    position: absolute;
    width: 45%;
    top: -5rem;
    right: 0;
}

/*** --- ABOUT CONT --- ***/
.about{
    background-color: var(--Light-Grayish-Blue);
}
.about_cont{
    padding: 5rem 0 2.5rem;
}
.about_top p{
    width: 45%;
    margin: 1rem 0 1.75rem;
}
.about_bottom{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 4rem;
    column-gap: 1.5rem;
}
.about_bottom p{
    font-size: 16px;
    line-height: 1.5;
}
/******** ---- BLOG CONT ---- ******/
.blog{
    background-color: var(--Very-Light-Gray);
}
.blog_cont{
    padding: 3rem 0;
}
.blog_bottom{
    display: grid;
    grid-template-columns: repeat(4, 250px);
    margin-top: 2.5rem;
    column-gap: 3.8rem;
}
.blog_card{
    display: grid;
    grid-template-rows: 200px;
    background-color: var(--White);
    border-radius: .5rem;
}
.card_display img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem .5rem 0 0;
}
.card_content{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.blog_sub{
    font-size: 12px;
    color: var(--Grayish-Blue);
}
.blog_desc{
    font-size: 14px;
}

/***** ---- FOOTER CONT ---- *****/
.footer_cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0 1.5rem;
}

.footer_cont a{
    color: var(--White);
}
.footer_cont span{
    color: var(--Grayish-Blue);
}
.footer_left,
.footer_center,
.footer_right{
    display: grid;
    align-items: center;
    row-gap: 3rem;
}
.footer_left svg{
    color: white;
    fill: azure;
}
.socials{
    display: flex;
    align-items: center;
    column-gap: .5rem;
}
.links_left,
.links_right{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.footer_center{
    display: flex;
    align-items: center;
    column-gap: 8rem;
}
.footer_btn{
    width: fit-content;
}
.footer_right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
@media screen and (max-width: 1220px) {
    h1{
        width: 100%;
    }
    .container{
        margin-left: 6rem;
        margin-right: 6rem;
    }
    .about_top p{
        width: 75%;
        margin: 1rem 0 1.75rem;
    }
    .blog_bottom{
        display: grid;
        grid-template-columns: repeat(3, 250px);
        justify-content: space-between;
        margin-top: 2.5rem;
        column-gap: 3.8rem;
        row-gap: 2rem;
    }
}
@media screen and (max-width: 1024px) {
    h1{
        font-size: 2rem;
    }
    h4{
        font-size: 1.25rem;
        font-weight: 400;
        margin: 1rem 0;
    }
    button{
        padding: .5rem 1.5rem;
        border-radius: 1.75rem;
        border: none;
        font-size: .836rem;
        color: var(--White);
        cursor: pointer;
        background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    }
    .about_bottom{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 4rem;
        column-gap: 1.5rem;
        row-gap: 1.5rem;
    }
    .about_bottom p{
        font-size: 14px;
        line-height: 1.5;
        width: 75%;
    }
    .blog_bottom{
        display: grid;
        grid-template-columns: repeat(2, 250px);
        justify-content: space-between;
        margin-top: 2.5rem;
        column-gap: 3.8rem;
        row-gap: 2rem;
    }
}